table {
    border-collapse: collapse;
    width: 100%;
}
th {
    text-align: center;
    background-color :rgb(0, 0, 255);
    color: #ffffff;
}
td,
th {
    border: 1px solid #868583;
    padding: 12px;
}
tr:nth-child(even) {
    background-color: #ececec;
}